.header {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    .messenger-label {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin: 20px 0 20px 20px;

        .icon-messenger {
            width: 40px;
        }

        .title-icon {
            font-size: 24px;
            font-weight: bold;
            font-family: sans-serif;
            margin-top: 5px;
            margin-left: 15px;
        }
    }

    .authorization {
        position: absolute;
        right: 0;
        margin: 20px;

        .sign-up {
            margin-left: 15px;
        }
    }
}