.login-page {

    margin: 80px auto auto;
    width: 350px;
    text-align: center;

    .avatar {
        margin: 20px auto auto;
        background-color: #960696;
    }

    .sign-in {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
